p{
	text-decoration: underline;
}

h1{
	color: #5f021f;
	font-family: Pacifico;

}

img{
	widows: 100%;
}

.Neucha{
	font-family: Neucha;
}

#nombre{
	color: #a47
}

@font-face{
	font-family: Pacifico;
	src:url("font/Pacifico.ttf");
	
}

@font-face{
	font-family: Neucha;
	src:url("font/Neucha");
	font-weight: normal;
	font-style: normal;
}